.idea
/Laravel_Serveur1/node_modules
/Laravel_Serveur1/public/hot
/Laravel_Serveur1/public/storage
/Laravel_Serveur1/storage/*.key
/Laravel_Serveur1/.idea
/Laravel_Serveur1/.vscode
/Laravel_Serveur1/.vagrant
/Laravel_Serveur1/Homestead.yaml
/Laravel_Serveur1/Homestead.json
/Laravel_Serveur1/npm-debug.log
/Laravel_Serveur1/yarn-error.log
/Laravel_Serveur1/.phpstorm.meta.php
/Laravel_Serveur1/.DS_Store
/Laravel_Serveur1/Thumbs.db
/Laravel_Serveur1/package-lock.json

/Laravel_Serveur2/node_modules
/Laravel_Serveur2/public/hot
/Laravel_Serveur2/public/storage
/Laravel_Serveur2/storage/*.key
/Laravel_Serveur2/.idea
/Laravel_Serveur2/.vscode
/Laravel_Serveur2/.vagrant
/Laravel_Serveur2/Homestead.yaml
/Laravel_Serveur2/Homestead.json
/Laravel_Serveur2/npm-debug.log
/Laravel_Serveur2/yarn-error.log
/Laravel_Serveur2/.phpstorm.meta.php
/Laravel_Serveur2/.DS_Store
/Laravel_Serveur2/Thumbs.db
/Laravel_Serveur2/package-lock.json